node_modules
.git
.env
.env.local
Dockerfile
README.md
tailwind.config.js
postcss.config.mjs
next-env.d.ts
tsconfig.json
tsconfig.tsbuildinfo

# Ignore build output
.next
out

# Ignore editor settings
.vscode/